body {
  width: 980px;
  margin: 0 auto; }

.movie-ratings {
  background-color: black;
  color: lightgrey; }

#submit-film {
  margin-top: 20px;
  float: left; }

.existing-movies-block {
  background-color: #ddd;
  color: #333;
  width: 360px;
  padding: 0 10px 20px 10px;
  margin-top: 20px;
  float: right; }
  .existing-movies-block .delete {
    padding-left: 5px;
    color: red;
    cursor: pointer; }
    .existing-movies-block .delete:hover {
      color: white; }
  .existing-movies-block .rated-movie .movie-name {
    display: inline-block;
    width: 70%; }
  .existing-movies-block .rated-movie .rating {
    display: inline-block;
    width: 10%; }
  .existing-movies-block .rated-movie .edit {
    font-size: 80%;
    color: #777;
    cursor: pointer; }
    .existing-movies-block .rated-movie .edit:hover {
      color: black; }
